name: Building For ARM Linux

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  bench:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
          architecture: "x64"

      - name: Pouring Deps
        run: |
          sudo apt-get update  
          sudo apt install -y llvm e2fsprogs qemu-system-arm qemu-utils fuseext2 ninja-build nasm
          pip3 install tabulate termcolor

      - name: Pouring GN
        run: |
          wget https://chrome-infra-packages.appspot.com/dl/gn/gn/linux-amd64/+/latest
          unzip latest
          sudo mv gn /usr/local/bin

      - name: Build Environment
        run: |
          ./gn_gen.sh --target_cpu aarch32

      - name: Building
        run: |
          cd out
          ./build.sh